{{ define "main" }}

<div class="container-fluid docs">
    <div class="row flex-xl-nowrap">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">
            <h1>{{ .Title }}</h1>

            {{ with .Content }}
            <div class="article-style">
                {{ . }}
            </div>
            {{ end }}

            {{ $paginator := .Paginate .Pages }}
            {{ range $paginator.Pages }}
                <div class="card-simple mb-3">
                    {{ if .Params.image }}
                    <div class="article-header">
                        {{ if reflect.IsMap .Params.image }}
                            {{ with .Params.image.filename }}
                                <img src="{{ . | relURL }}" class="article-banner" alt="{{ $.Title }}">
                            {{ end }}
                        {{ else }}
                            <img src="{{ .Params.image | relURL }}" class="article-banner" alt="{{ .Title }}">
                        {{ end }}
                    </div>
                    {{ end }}

                    <h3 class="article-title mb-1 mt-3">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </h3>

                    {{ with .Params.subtitle }}
                    <h4 class="article-subtitle mb-1">{{ . }}</h4>
                    {{ end }}

                    <div class="article-metadata">
                        {{ partial "page_metadata" . }}
                    </div>

                    {{ with .Params.summary }}
                    <div class="article-style">
                        {{ . | plainify | emojify }}
                    </div>
                    {{ end }}
                </div>
            {{ end }}

            {{ partial "pagination" . }}
        </main>
    </div>
</div>

{{ end }}