{{ define "main" }}
<div class="container-fluid docs">
    <div class="row flex-xl-nowrap">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">
            <h1>{{ .Title }}</h1>

            {{ with .Content }}
            <div class="article-style">
                {{ . }}
            </div>
            {{ end }}

            {{ $paginator := .Paginate .Pages }}
            {{ range $paginator.Pages }}
                <div class="card-simple mb-3">
                    {{ if .Params.image }}
                    <div class="article-header">
                        {{ with .Params.image.filename }}
                            <img src="{{ . | relURL }}" class="article-banner" alt="{{ $.Title }}">
                        {{ end }}
                    </div>
                    {{ end }}

                    <h3 class="article-title mb-1 mt-3">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </h3>

                    {{ with .Params.summary }}
                    <div class="article-style">
                        {{ . | plainify | emojify }}
                    </div>
                    {{ end }}
                </div>
            {{ end }}

            {{ partial "pagination" . }}
        </main>
    </div>
</div>

<style>
    h1 {
        text-align: center;
    }
    .card-simple {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ddd; /* Border around each post */
        border-radius: 8px; /* Rounded corners */
        padding: 16px; /* Inner padding */
        background-color: #fff; /* Background color */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    }

    .article-header {
        margin-bottom: 12px; /* Space below the image */
    }

    .article-banner {
        width: 100%; /* Responsive image */
        height: auto; /* Maintain aspect ratio */
        border-radius: 5px; /* Rounded corners for images */
    }
</style>
{{ end }}
