/* Basic Styling for the Content */
h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
p {
    font-size: 20px;
}
.content {
    text-align: center;
    padding: 50px 20px;
    color: #ffffff;
}
body {
    background-image: url('/images/kaneohe-bay.jpg'); /* Update the path to your background image */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Change text color if needed */
    padding: 20px; /* Add padding around the body */
}
.logo-container {
    display: flex;
    justify-content: center; /* Centers the logos */
    gap: 10px; /* Adds spacing between logos */
    margin-top: 20px; /* Adjusts spacing from the <h2> */
}

.logo-container img {
    height: 160px; /* Adjust as needed */
    width: auto; /* Maintains aspect ratio */
}
/* Style for the Call-to-Action Buttons Container */
.cta-section {
    background-color: #4B682F; /*Heritage tree*/
    background-size: cover;
    padding: 20px;  /* Add padding around the CTA buttons */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-position: cover;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Space between buttons */
    flex-wrap: wrap;  /* Stack buttons on smaller screens */
    margin-top: 5px;
}

/* Individual Button Styles */
.cta-button {
    background-color: #C2E5DF;  /* sandbar background */
    color: #10616A;  /* patch reef text */
    text-decoration: none;  /* Remove underline */
    padding: 15px 30px;
    border-radius: 5px;  /* Rounded corners */
    font-size: 0.8rem;
    text-transform: uppercase;  /* Make text uppercase */
    transition: background-color 0.3s ease;  /* Smooth color transition */
}

/* Button Hover Effect */
.cta-button:hover {
    background-color: #2e411d; 
}

/* Button Focus Effect for Accessibility */
.cta-button:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .cta-buttons {
        flex-direction: column;  /* Stack the buttons vertically */
        gap: 15px;
    }
}
