.project {
  padding: 20px; /* Padding within each section */
  margin: 0; /* Remove margins */
  width: 100vw; /* Full viewport width */
  box-sizing: border-box; /* Include padding in width calculation */
  color: #fff;
  font-family: Arial, sans-serif;
}

#project1 {
  background-color: #d2ecf7; 
}

#project2 {
  background-color: #3cbce794; 
}

#project3 {
  background-color: #0083b7; 
}

#project4 {
  background-color: #d2ecf7; 
}

#project5 {
  background-color: #3cbce794; 
}

#project6 {
  background-color: #0083b7; 
}

#project7 {
  background-color: #d2ecf7; /
}

/* Add more spacing between each project */
.research-project + .research-project {
  margin-top: 40px;
}
