html, body {
  margin: 0; /* Remove any default body margin */
  padding: 0; /* Remove any default body padding */
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.research-project {
  padding: 20px;
  margin: 0; /* Remove margins */
  left: -20px; /* Adjust to align with the viewport */
  flex: 0 0 auto;
  border-radius: 0; /* Remove rounded corners for full width */
  color: #000000;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /* Include padding in the total width */
}


#project1 {
  background-color: #d2ecf7; 
}

#project2 {
  background-color: #3cbce794; 
}

#project3 {
  background-color: #0083b7; 
}

#project4 {
  background-color: #d2ecf7; 
}

#project5 {
  background-color: #3cbce794; 
}

#project6 {
  background-color: #0083b7; 
}

#project7 {
  background-color: #d2ecf7; 
}

/* Add more spacing between each project */
.research-project + .research-project {
  margin-top: 40px; /* Space between sections */
}
