/* Apply gradient to the entire webpage */
html, body {
  height: 100%; /* Ensures that the body covers the entire height of the page */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  background: linear-gradient(0deg, #ffffff 0%, #1c8c99 100%);
  background-size: cover; /* Ensures the gradient covers the entire area */
  background-attachment: fixed; /* Makes the background fixed when scrolling */
  color: #000000; /* Change text color for better contrast */
}

/* Style the content inside the page */
.content {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 19px;
  line-height: 1.6;
  padding: 10px;
  border-radius: 10px;
}

.resources-page {
    text-align: left; /* Align text to the left */
    padding: 20px; /* Add some padding for better spacing */
  }
  
  .hero {
    margin-bottom: 20px; /* Add space between sections */
  }
  
  .hero h1 {
    font-size: 26px; /* Adjust header size as needed */
    margin-bottom: 10px; /* Space below header */
  }
  .hero h2 {
    font-size: 22px; /* Adjust header size as needed */
    margin-bottom: 10px; /* Space below header */
  }
  .hero p {
    font-size: 18px; /* Adjust paragraph size as needed */
    line-height: 1.5; /* Improve readability */
  }

  .h1 {
    font-size: 26px; /* Adjust header size as needed */
    margin-bottom: 10px; /* Space below header */
  }
  .h2 {
    font-size: 22px; /* Adjust header size as needed */
    margin-bottom: 10px; /* Space below header */
  }
  .p {
    font-size: 18px; /* Adjust paragraph size as needed */
    line-height: 1.5; /* Improve readability */
  }

  .gallery-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

  .gallery {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0; /* Prevent images from shrinking */
    margin-right: 0;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    border-radius: 50%;
    width: 40px; /* Adjust size */
    height: 40px; /* Adjust size */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* Adjust icon size */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
  