// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.team {
  text-align: center;
}
.team-member {
  padding: 10px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.team-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
