<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    {{- .TemplateParams.head }}
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "header.html" . }} <!-- Include the header partial -->

    <!-- Main content area -->
    <main role="main" class="container">
        {{ block "main" . }}{{ .Content }}{{ end }}
    </main>

    <!-- Include footer -->
    {{ partial "footer.html" . }} <!-- Add this line to include footer -->

    {{- .TemplateParams.footer }}
</body>
</html>
