<!-- layouts/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <div class="content">
        <h1>{{ .Title }}</h1>
        <p>{{ .Content }}</p>
    </div>

    <!-- Call to Action Buttons -->
    <div class="cta-section">
        <div class="cta-buttons">
            <a href="/about" class="cta-button">About</a>
            <a href="/research" class="cta-button">Research</a>
            <a href="/people" class="cta-button">People</a>
            <a href="/publications" class="cta-button">Publications</a>
            <a href="/resources" class="cta-button">Resources</a>
            <a href="/want-to-join-us" class="cta-button">Join Us</a>
        </div>
    </div>
</body>
</html>

