{{ define "main" }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div id="profile">
                <img class="avatar avatar-circle" src="{{ .Params.avatar }}" alt="{{ .Title }}">
                <div class="portrait-title">
                    <h2>{{ .Title }}</h2>
                    <p class="role-text">{{ .Params.role }}</p>
                    {{ range .Params.organizations }}
                    <p class="org-text">
                        <a href="{{ .url }}" target="_blank" rel="noopener">
                            <span>{{ .name }}</span>
                        </a>
                    </p>
                    {{ end }}
                </div>
                <ul class="network-icon" aria-hidden="true">
                    {{ range .Params.profiles }}
                    <li>
                        <a href="{{ .url }}" target="_blank" rel="noopener" aria-label="{{ .label }}">
                            <i class="{{ .icon }}"></i>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="article-style">
                <p>{{ .Params.bio }}</p>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h3>Research Interests</h3>
                    <ul class="ul-interests">
                        {{ range .Params.interests }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-md-7">
                    <h3>Education</h3>
                    <ul class="ul-edu fa-ul">
                        {{ range .Params.education }}
                        <li>
                            <i class="fa-li fas fa-graduation-cap"></i>
                            <div class="description">
                                <p class="course">{{ .area }}</p>
                                <p class="institution">{{ .institution }}</p>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .avatar {
        width: 250px;
        height: 250px;
    }
    .role-text {
        font-size: 22px;
        color: #919191;
    }
    .org-text {
        font-size: 20px;
        color: #919191;
    }
    .network-icon {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .network-icon li {
        margin: 0 5px;
    }
    .ul-interests, .ul-edu {
        list-style: none;
        padding: 0;
    }
    .fa-li {
        position: relative;
        left: -1.5em;
        padding-right: 5px;
    }
</style>
{{ end }}
