<footer class="footer">
    <div class="container">
        <!-- Display the copyright notice with dynamic year -->
        <p>{{ .Site.Params.footer.copyright.notice | replace "{year}" (now.Format "2025") }}</p>

        <!-- Add additional text below the copyright notice -->
        <p>Dr. Erik Franklin <br>
            University of Hawaii at Manoa</p>

        <!-- License Information (if enabled) -->
        {{ if .Site.Params.footer.copyright.license.enable }}
        <p>License:
            {{ if .Site.Params.footer.copyright.license.allow_derivatives }} Allow derivatives, {{ else }} No derivatives, {{ end }}
            {{ if .Site.Params.footer.copyright.license.share_alike }} Share alike, {{ else }} No share alike, {{ end }}
            {{ if .Site.Params.footer.copyright.license.allow_commercial }} Allow commercial use, {{ else }} No commercial use, {{ end }}
        </p>
        {{ end }}
    </div>
</footer>
